# Local-only PostgreSQL cluster created by npm run db:local:start.
DATABASE_URL=postgres://solar_dev@127.0.0.1:55432/solar_management_dev
TEST_DATABASE_URL=postgres://solar_dev@127.0.0.1:55432/solar_management_test
